header {
    background-color: rgb(40, 43, 78);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px #acacac;
    margin: 2rem;
}

header h1 {
    font-size: 3rem;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}