

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}
h1 {
    justify-content: center;
    display: flex;
    padding: 2rem;
    font-size: 50px;
}
.pagination {
    display: flex; 
    justify-content: center; 
    align-items: center;
  }
  
  .prev {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px;
    display: inline-block;
    
    
  }
  
  .next {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px;
    display: inline-block;
   
  }
  
  .prev:hover, .next:hover {
    background-color: #3e8e41;
  }
  
  .next {
    margin-left: 10px;
  }
