.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}
h1 {
    justify-content: center;
    display: flex;
    padding: 2rem;
    font-size: xx-large;
}
.pagination {
    display: flex; /* Usa flexbox para alinear los botones */
    justify-content: center; /* Centra los botones horizontalmente */
    align-items: center; /* Centra los botones verticalmente */
  }
  
  .prev {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 5px; /* Espacio entre los botones */
    display: inline-block; /* Permite establecer ancho y alto */
    margin-bottom: 20px;
  }
  
  .next {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 5px; /* Espacio entre los botones */
    display: inline-block; /* Permite establecer ancho y alto */
    margin-bottom: 20px;
  }
  
  .prev:hover, .next:hover {
    background-color: #3e8e41;
  }
  
  /*  Estilos adicionales (opcional) */
  .next {
    margin-left: 10px; /* Ajusta el espacio a la derecha */
  }
